body{
    font-family: 'Noto Sans', sans-serif;
    font-size: 1rem;
    margin: 0;
}
nav#navbar{
    background-color: #AD6EDD;
}
    #navbar ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    li.nav-link{
        float: left;
        
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .nav-link a{
        display: block;
        text-decoration: none;
        color: #fff;
        
        font-weight: 600;
    }
section{
    padding-top: 3rem;
}
#welcome-section{
    overflow: auto;
    
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: grid;
    grid-template-columns: 20% 40%;
    justify-content: center;
}
    #welcome-section h1{
        margin-top: 2rem;
        color: #AD6EDD;
    }
    #photo-wrapper{
        overflow: auto;
        margin-left: 2rem;
    }
    
    #description{
        margin-left: 1rem;

        display: flex;
        overflow: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: left;
    }
        #description h1{
            margin: 0;
            margin-right: 20rem;
        }
        #description p{
            margin-top: 0.5rem;
        }

    #big-photo{
        display: inline-block;
        width: 50%; 
        float: left;
        background-color: #eee;
        overflow: hidden; 
    }
    #big-photo{
        background-size: cover;
        overflow:hidden;
        -webkit-border-radius:50px;
        -moz-border-radius:50px;
        border-radius:50%;
        overflow: hidden;
        height: 200px;
        width: 200px;
    }
    #big-photo img{
        position: relative;
        right: 12px;
    }

#projects{
    padding-bottom: 3rem;
    text-align: center;
    background-color: #AD6EDD;
    color: #fff;
}
    h1{
        margin-top: 2rem;
        font-size: 1.8rem;
    }
    .project-wrapper{
        display: grid;
        grid-template-columns: 30% 30% 30%;
        grid-gap: 1.7rem;
        justify-content: center;
    }
        button.theBtn{
            font-family: 'Noto Sans', sans-serif;
            margin-top: 5rem;
            padding-top: 0.7rem;
            padding-bottom: 0.7rem;
            padding-left: 1rem;
            padding-right: 1rem;
            border: 0px;
            border-radius: 3px;
            font-weight: 600;

            color: #AD6EDD;
            cursor: pointer;
        }
        .theBtn:hover{
            font-size: 0.93rem;
        }
        .theBtn i{
            margin-left: 1rem;
        }
    .project-tile{
        /*
        background-color: #fff;
        border: 0px;
        border-radius: 4px;
        */
        padding-top: 1rem;
        
    }
    .project-tile img{
        height: calc(100% - 0.6rem);
        width: 100%;
        object-fit: cover;    

        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
    .project-tile p{
        margin-top: -5px;

        padding-top: 1rem;
        padding-bottom: 1rem;
        background-color: #000;
        color: #fff;
        font-size: 1.3rem;
        font-weight: 600;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }


#contact{
    padding-top: 3rem;
    padding-bottom: 5rem;
    color: #AD6EDD;
}

.contact-wrapper{
    display: grid;
    grid-template-columns: 20% 20% 20%;
    justify-content: center;

    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    
}

    .contact-tile, #contact h1{
        text-align: center;
    }
    .contact-tile a{
        text-decoration: none;
        color: #AD6EDD;
    }
    .contact-tile i{
        font-size: 2.7rem; 
        cursor: pointer;
    }
    .contact-tile p{
        margin: 0;
        margin-top: 0.9rem;
        font-weight: 600;
    }


footer{
    background-color: #000;
    color: #fff;
    padding-top: 2rem;
    padding-bottom: 2rem;


}
small{
    font-family: 'Noto Sans', sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    float: right;
    margin-right: 2rem;
}

